<html>

<head>

    <meta charset="UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,maxium-scale=1" />
    <title> 台北一日遊-attraction </title>
    <link href="/attraction.css" rel="stylesheet" type="text/css">
    <!-- 上傳網址要+/ 擺在static ， 離線的話不加 擺在HTML 同一個資料夾 上線修改-->

</head>

<body>

    <div class="top1">
        <div class="top">
            <div class="top2">
                <div class="top_left_logo" style="cursor: pointer;"><a href="http://3.115.236.143:3000/"
                        style="text-decoration:none;color:#448899">台北一日遊 </a>
                </div>
                <div class="top_right">
                    <div class="top_right_item" id="booking" onclick="booking()" style="cursor: pointer;">預定行程</div>
                    <div class="top_right_item" id="displaysign" onclick="start() " style="cursor: pointer;"> 登入/註冊
                    </div>
                    <div class="top_right_item" id="displaysignout" onclick="displaysignout()"
                        style="display:none;cursor: pointer;"> 登出
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 分割線 -->
    <hr class="top_hr" style="margin-bottom:37px ; opacity: 0.2;" />

    <!-- signform 註冊 // 登入  ------------------------------------>
    <div style="display: flex;    z-index: 1002;justify-content: center;    ">
        <div class="signform" id="signform" style="display: none">
            <div class="signboxup"></div>

            <div class="signtitlebox">
                <div class="signtitle">
                    <p style="font-weight: 700;font-size: 24px;line-height: 24px;color: #666666;">登入會員帳號 </p>
                </div>

                <div class="signclose">
                    <img src="/icon_close.png" width="35px" height="35px" onclick="signclose()">
                </div>
            </div>

            <!-- 表單應該不是直接傳給後端查資料回傳 是給JS 呼叫後端做請求 -->
            <form id="signinform" action="" onsubmit=" return func()">
                <div class="userdiv">
                    <input id="email" class="signinput" type="text" placeholder="輸入電子信箱" name="email">
                </div>

                <div class="pwddiv">
                    <input id="password" class="signinput" type="password" placeholder="輸入密碼" name="password"
                        autocomplete="on">
                </div>

                <div class="postdiv">
                    <button onclick="signin()">登入帳戶</button>
                </div>
            </form>



            <div class="change" style="color: #4d4d4d">
                <p id="signinmeg" style="text-decoration: none;color:red; display:none;">輸入的 Email 或密碼錯誤，登入失敗 </p>
                <p>還沒有帳戶？點此<a style="cursor: pointer; text-decoration: none;color: #666666"
                        onclick="registerform()">註冊</a>
                </p>
            </div>


        </div>



        <div class="signform" id="registerform" style="display: none">
            <div class="signboxup">

            </div>

            <div class="signtitlebox">

                <div class="signtitle">
                    <p style="font-weight: 700;font-size: 24px;line-height: 24px;color: #666666;">註冊會員帳號 </p>
                </div>

                <div class="signclose">
                    <img src="/icon_close.png" width="35px" height="35px" onclick="signclose()">
                </div>
            </div>
            <!-- 註冊---------------------- -->
            <form id="signupform" action="" onsubmit=" return func()" method="POST">
                <!-- return error 不用理 -->
                <div class="userdiv">
                    <input id="registeruser" class="signinput" type="text" placeholder="輸入姓名" name="registeruser">
                </div>

                <!-- <img src="image/signloading.gif" style="display: none" id="registerloading"> -->
                <div class="pwddiv">
                    <input id="registeremail" class="signinput" type="text" placeholder="輸入電子郵件" name="registeremail"
                        autocomplete="on">
                </div>

                <div class="pwddiv">
                    <input id="registerrepassword" class="signinput" type="password" placeholder="輸入密碼"
                        name="registerrepassword" autocomplete="on">
                </div>

                <div class="postdiv">
                    <button onclick="signup()">註冊新帳戶</button>

                </div>
            </form>



            <div class="change" style="color: #4d4d4d">
                <p id="signinmegerror" style="text-decoration: none;color:red; display:none;">輸入的 Email 已經註冊 </p>
                <p id="signinmegsus" style="text-decoration: none;color:red; display:none;">註冊成功 </p>
                <p>已經有帳戶了？點此<a style=" cursor: pointer; text-decoration: none;color: #666666 "
                        onclick="signform()">登入</a>
                </p>
            </div>



        </div>
    </div>

    <div class="main">
        <!-- 左半邊 -->
        <div class="main_left">

            <div class="main_left_img" id='main_left_img'></div> <!-- 創立一個div 給img  塞入 -->
            <div class="arrowbox">
                <div class="img_leftArrow" id="img_leftArrow" input type="button" value="CLICK"> <img
                        src="/btn_leftArrow.png ">
                </div>
                <div class="img_rightArrow" id="img_rightArrow" input type="button" value="CLICK"><img
                        src="/btn_rightArrow.png ">
                </div>
            </div>
            <div class="imgbutton_box" id="imgbutton_box">
            </div>

        </div>


        <!-- 右半邊 -->
        <div class="main_right">
            <!-- 景點名字 -->
            <div class="main_right_name" id="main_right_name"></div>
            <!-- 景點分類+捷運 -->
            <div class="main_right_cate" id="main_right_cate"></div>
            <!-- 預定表格 -->
            <div class="main_right_booking">
                <!-- 預定表格 row 的 框   訂購導覽行程 -->
                <div class="main_right_bookingbox">
                    <!-- HTML 直接打的字 沒辦法用CSS 套用!!! -->
                    <div>
                        <p style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">訂購導覽行程
                        </p>
                    </div>
                </div>
                <!--   以此景點為中心的一日行程，帶您探索城市角落故事-->
                <div class="main_right_bookingbox">
                    <div>
                        <p style="font-size: 16px ; font-weight: 400;  color: #666666; line-height: 20px;">
                            以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    </div>
                </div>
                <!--   選擇日期 :-->
                <div class="main_right_bookingbox">
                    <!-- 有機會將日期表示做改變 -->
                    <div>
                        <p style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">選擇日期
                            :&ensp;

                            <input id="date" type="date"
                                style="border: 0 ;padding-left :10px; padding-top :5px; padding-bottom :5px ;">

                        </p>
                    </div>
                </div>

                <!--  點擊事件 上半天下半天 -->
                <div class="main_right_bookingbox">
                    <div class="timebuttonbox">
                        <!-- 選擇時間-->
                        <h style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">選擇時間
                            :&ensp;
                        </h>

                        <!-- 白點1-->
                        <div class="booking_timebutton_white_1" id="booking_timebutton_white_1" input type="button"
                            value="CLICK" class="button" style="cursor: pointer;"></div>
                        <!-- 綠點1-->
                        <div class="booking_timebutton_green_1" id="booking_timebutton_green_1" name="time"
                            value="morning" style="cursor: pointer;"></div>
                        <!-- 上半天-->
                        <h style="font-weight: 400;  font-size: 16px;color: #666666;line-height: 13px;">
                            &ensp;&ensp;&ensp;&ensp;上半天&ensp;&ensp;&ensp;&ensp;&ensp;
                        </h>
                        <!-- 白點2-->
                        <div class="booking_timebutton_white_2" id="booking_timebutton_white_2" input type="button"
                            value="CLICK" class="button" style="cursor: pointer;"></div>
                        <!-- 綠點2-->
                        <div class="booking_timebutton_green_2" id="booking_timebutton_green_2" name="time"
                            value="afternoon" style="cursor: pointer;"></div>

                        <!-- 下半天-->
                        <h style="font-weight: 400;  font-size: 16px;color: #666666;line-height: 13px;"> 下半天</h>

                    </div>
                </div>

                <!--導覽費用-->
                <div class="main_right_bookingbox">
                    <div style="display: flex;">
                        <h style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">導覽費用
                            :&ensp;
                        </h>
                        <!--   動態改2000/2500-->
                        <h
                            style="font-size: 16px ; font-weight: 400;  color: #666666; line-height: 16px ;display: flex;">
                            新台幣&ensp;
                            <h class="money_2000" id="money_2000" name="price" value="2000">2000</h>
                            <h class="money_2500" id="money_2500" name="price" value="2500">2500</h>
                            &ensp;元
                        </h>
                    </div>
                </div>
                <!--開始預訂行程按鈕-->
                <button class="main_right_booking_button" type="button" style="border: 0 ; cursor: pointer;"
                    id="booking" onclick="startbooking()">開始預訂行程 </button>
                <p id="bookingmeg" style="text-decoration: none;color:red; display:none;font-size: 20px;margin-left: 20px;"> 建立失敗，輸入不正確或其他原因 </p>

            </div>
        </div>

    </div>

    <div>
        <hr class="middle_hr" />
    </div>

    <div class="intro">
        <!-- 塞景點描述 -->
        <div class="intro_description" id="intro_description"></div>
        <!-- 塞景點地址 -->
        <div class="intro_container">
            <div style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px;"> 景點地址:
            </div>
            <div class="intro_text" id="intro_address"> </div>
        </div>
        <!-- 塞交通方式 -->
        <div class="intro_container">
            <div style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px;"> 交通方式:
            </div>
            <div class="intro_text" id="intro_transport"> </div>
        </div>


    </div>

    <!-- 觀察點 -->
    <footer class="footer" id="foot">
        <div id="keywordfoot"></div>
        <div class="footer_text">
            <p>COPYRIGHT © 2021 台北一日遊 </p>
    </footer>

</body>

<script>

    //# 階段二 WEEK 4 API-------------------------------------
    // 一打開網頁 確認SESSION
    //上線修改
    fetch("http://3.115.236.143:3000/api/user", {
    // fetch("http://3.115.236.143:3000/api/user", {
        method: 'GET'
    }) //測試
        .then((sessionresult) => {
            return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
        })
        .then((sessionresult) => {
            // console.log("SESSSION判斷", result)
            // console.log("SESSSION判斷", sessionresult.data)
            //如果回傳有值的話，右上角顯示登出 登入顯示
            //如果回傳沒有值 代表沒有登入狀態 display:""
            if (sessionresult.data == null) {
                // console.log("SESSSION判斷等於Null 代表沒有session 將右上角顯示登入 登出顯示0")
                document.getElementById('displaysign').style.display = "block"
                document.getElementById('displaysignout').style.display = "none"
            } else {
                document.getElementById('displaysign').style.display = "none"
                document.getElementById('displaysignout').style.display = "block"

            }

        })

    getUrlString = location.href; //抓網址列 想辦法取得id 這個值 餵給 fetch
    url = new URL(getUrlString)
    // console.log("網址列", location.href)
    // console.log("網址列url", url)
    // console.log("attraction/id", url.pathname); // 得到  /attraction/2
    // console.log(url.pathname.split('/')) // 得到 ['', 'attraction', '2']
    url_id = url.pathname.split('/')[2]
    // console.log("來把 id", url_id)
    fetch("http://3.115.236.143:3000/api/attraction/"+ url_id) //上線修改
    // fetch("http://3.115.236.143:3000/api/attraction/" + url_id) //這裡呼叫後端 "/api/attraction/<id >> 所以id 跟照片的id 是一樣的要怎麼做
        .then((result) => {
            return result.json();//將資料用JSON 的格式用物件和陣列的組合
        })
        .then((result) => {

            if (result.error == true) {
                let result_error = result.message
                document.getElementById('main_right_name').innerText = result.message
            }


            // console.log("id是誰",id)
            console.log(result);  //  確認源頭資料 
            // console.log(url_id);  //  確認url_id

            //得到資料照片 > 並塞進 id=main_left_img
            pic = result.data.images[0];  //  得到第一張照片的資料
            let imgTag = document.createElement("img");//創立 img 標籤
            imgTag.src = pic;//標籤.src=照片資料 變成>>  <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c1/d28/e891/f188/77a58890-7711-4ca2-aebe-4aa379726575.jpg" class="main_left_img">
            imgTag.setAttribute("class", "img");//給他一個class name 
            // imgTag.id = "pic" + String(0) //給這張照片id=pic0
            // let picc0=getElementById("pic_0")抓不到
            // let main_left_img=document.getElementById(main_left_img);//不要用， 用這段會出現 attraction.html:126 Uncaught (in promise) ReferenceError: Cannot access 'main_left_img' before initialization
            main_left_img.appendChild(imgTag);  //可直接抓id  第一張照片 塞到id=main_left_img 元素裡面

            //得到資料景點名字  name  > 塞進 id=main_right_name
            name = result.data.name;
            let name_p = document.createElement("p");//創立HTML 的p標籤
            // name_p.setAttribute("class", "main_right_name_text");//本來不用再給他一個class name ... 發現要讓他margin =0 >>直接設所有的p 標籤margin=0
            let name_text = document.createTextNode(name);  //createTextNode() 可建立文字節點。
            name_p.appendChild(name_text);//p標籤順利插入name_text 值
            // console.log(p)//測試p標籤順利插入name 值 >>得到 <p>新北投溫泉區</p> 
            main_right_name.appendChild(name_p);//可直接抓id

            //得到資料景點category &  mrt > 塞進 id=main_right_cate
            category = result.data.category;
            mrt = result.data.mrt;
            let cate_mrt_p = document.createElement("p");//創立HTML 的p標籤
            // cate_mrt_p.setAttribute("class", "main_right_name_text");////本來不用再給他一個class name ... 發現要讓他margin =0
            let cate_mrt_text = document.createTextNode(category + " at " + mrt);  //建立文字節點
            cate_mrt_p.appendChild(cate_mrt_text);//p標籤順利插入category_text 值
            main_right_cate.appendChild(cate_mrt_p);//可直接抓id，將category_p+"&"+mrt_p 插入

            //得到資料description  > 塞進intro_description
            description = result.data.description;
            let description_p = document.createElement("p");
            let description_text = document.createTextNode(description);
            description_p.appendChild(description_text);
            intro_description.appendChild(description_p);

            //得到資料address  > 塞進intro_address
            address = result.data.address;
            let address_p = document.createElement("p");
            let address_text = document.createTextNode(address);
            address_p.appendChild(address_text);
            intro_address.appendChild(address_p);

            //得到資料transport > 塞進intro_transport
            transport = result.data.transport;
            let transport_p = document.createElement("p");
            let transport_text = document.createTextNode(transport);
            transport_p.appendChild(transport_text);
            intro_transport.appendChild(transport_p);


            //作業 3-3 上下半天 點擊事件 + 價錢變化
            timebutton_white_2 = document.querySelector(".booking_timebutton_white_2");
            timebutton_white_1 = document.querySelector(".booking_timebutton_white_1");
            timebutton_green_2 = document.querySelector(".booking_timebutton_green_2");
            timebutton_green_1 = document.querySelector(".booking_timebutton_green_1");
            money_2500 = document.querySelector(".money_2500");
            money_2000 = document.querySelector(".money_2000");
            //點擊白點 white_2 下半天 > green_1 消失、green_2 出現、2500元出現 2000消失


            timebutton_white_2.addEventListener(
                "click",
                function () {
                    timebutton_green_1.style.display = "none"
                    timebutton_green_2.style.display = "block"
                    money_2500.style.display = "block"
                    money_2000.style.display = "none"
                    // alert("點擊白點 white_2 下半天 > green_1 消失、green_2 出現、2500元出現 2000消失");
                },
                false
            );

            //點擊白點 white_1 上半天 > green_2 消失、green_1 出現、2000元出現 2500消失
            timebutton_white_1.addEventListener(
                "click",
                function () {
                    timebutton_green_1.style.display = "block"
                    timebutton_green_2.style.display = "none"
                    money_2500.style.display = "none"
                    money_2000.style.display = "block"
                    // alert("點擊白點 white_1 上半天 > green_2 消失、green_1 出現、2000元出現 2500消失");
                },
                false
            );


            //輪播功能--------------------------------------------------------------------------

            //獲取圖片地址
            let imgList = result.data.images;
            console.log("imgList", imgList)

            //根據圖片數目建立圓點 法1
            // for (let index in imgList) {
            //     let doteEle = document.getElementsByClassName("imgbutton_box")[0];

            //     doteEle.innerHTML += `<span οnclick="lun(${index})"></span>`;
            // }

            //根據圖片數目建立圓點 法2
            for (let i = 0; i < imgList.length; i++) {
                let imgbutton_box_ball = document.createElement('div');
                imgbutton_box_ball.id = "imgbutton_box_ball_" + String(i);
                imgbutton_box_ball.className = "imgbutton_box_ball";

                imgbutton_box_ball.setAttribute("type", "button");//給他一個class name > FOR點擊小點
                imgbutton_box_ball.setAttribute("value", "CLICK");//給他一個class name > FOR點擊小點

                imgbutton_box.appendChild(imgbutton_box_ball);


            }

            //得到左右箭頭
            img_leftArrow = document.querySelector(".img_leftArrow");
            img_rightArrow = document.querySelector(".img_rightArrow");

            //得到小黑點
            imgbutton_box_ball = document.querySelectorAll(".imgbutton_box_ball");
            console.log(imgbutton_box_ball)
            console.log(imgbutton_box_ball[1])

            //載入網頁時就讓第一張小圓點是黑色的>>之後用小圓點的顏色判斷圖片是哪一張
            document.getElementById("imgbutton_box_ball_0").style.background = "black";

            //輪播函式，監聽右鍵有沒有被按
            img_rightArrow.addEventListener(
                "click",

                function lun() {

                    for (let i = 0; i < imgList.length; i++) {
                        if (document.getElementById("imgbutton_box_ball_" + String(i)).style.background == "black") {
                            rightcount = i
                        }
                    }
                    //確認此時小黑圓點在哪裡 判斷圖片第幾張

                    rightcount = rightcount + 1 //點右一次就+1

                    if (rightcount < imgList.length) {
                        imgTag.src = imgList[rightcount];//標籤.src=照片資料 變成>>  <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c1/d28/e891/f188/77a58890-7711-4ca2-aebe-4aa379726575.jpg" class="main_left_img"
                        imgTag.id = "pic" + String(rightcount)
                        main_left_img.appendChild(imgTag);  //可直接抓id  第一張照片 塞到id=main_left_img 元素裡面
                        document.getElementById("imgbutton_box_ball_" + String(rightcount - 1)).style.background = "white"; //上一個小圓點變白
                        document.getElementById("imgbutton_box_ball_" + String(rightcount)).style.background = "black";//此個小圓點變黑

                    } else if (rightcount = imgList.length) { //最後一張的行為
                        rightcount = 0;
                        imgTag.src = imgList[0];
                        imgTag.id = "pic" + String(0);
                        main_left_img.appendChild(imgTag);
                        document.getElementById("imgbutton_box_ball_0").style.background = "black";//第一個小圓點變黑
                        document.getElementById("imgbutton_box_ball_" + String(imgList.length - 1)).style.background = "white";//最後一個小圓點變白
                    }
                },
                false
            );


            // //輪播函式，監聽 按左鍵行為 
            img_leftArrow.addEventListener(
                "click",
                function lun() {
                    //用小圓點的背景判斷此時圖片在哪一張
                    for (let i = 0; i < imgList.length; i++) {
                        if (document.getElementById("imgbutton_box_ball_" + String(i)).style.background == "black") {
                            leftcount = i
                        }
                    }
                    // console.log(leftcount) //確認此時小黑圓點在哪裡 判斷圖片第幾張

                    leftcount = leftcount - 1 //點左一次就-1

                    if (leftcount != -1) {
                        imgTag.src = imgList[leftcount];//標籤.src=照片資料 變成>>  <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c1/d28/e891/f188/77a58890-7711-4ca2-aebe-4aa379726575.jpg" class="main_left_img">
                        // console.log("imgTag.src", imgTag.src)//確認網址
                        // imgTag.id = "pic" + String(leftcount)//插入ID>>也不用
                        // console.log(" imgTag.id", imgTag.id)//確認ID
                        main_left_img.appendChild(imgTag);  //可直接抓id  第一張照片 塞到id=main_left_img 元素裡面
                        // console.log(" main_left_img", main_left_img)

                        document.getElementById("imgbutton_box_ball_" + String(leftcount + 1)).style.background = "white";  //上一張小圓點變白
                        document.getElementById("imgbutton_box_ball_" + String(leftcount)).style.background = "black";//此張小圓點變黑

                    } else if (leftcount == -1) { //當圖片(小圓點)為第一個時候按左鍵的行為
                        // console.log("leftcount = imgList.length?", leftcount) //leftcount=-1
                        imgTag.src = imgList[imgList.length - 1];  //插入最後一張照片網址
                        // imgTag.id = "pic" + String(imgList.length - 1);
                        main_left_img.appendChild(imgTag);
                        document.getElementById("imgbutton_box_ball_" + String(0)).style.background = "white";//第一張小圓點變白
                        document.getElementById("imgbutton_box_ball_" + String(imgList.length - 1)).style.background = "black";//最後一張小圓點變黑
                    }
                },
                false
            );

            //額外TRY 點擊 小圓點就到那一張圖片


            for (let i = 0; i < imgList.length; i++) {
                imgbutton_box_ball[i].addEventListener(
                    "click",

                    function ball() {

                        // console.log("有",imgbutton_box_ball[i],imgbutton_box_ball) //確認有吃到名字

                        for (let g = 0; g < imgList.length; g++) {//將圓點全變白
                            imgbutton_box_ball[g].style.background = "white";
                        }

                        imgbutton_box_ball[i].style.background = "black";//點到的圓點變黑

                        imgTag.src = imgList[i];//差入圖片
                        main_left_img.appendChild(imgTag);

                    }, false
                );
            }


        }).catch((err) => {
            console.log('錯誤:', err);
        });

    //# 階段二 WEEK 4 API-------------------------------------
    // ----------------------彈出登入登出視窗------------------
    function start() {
        document.getElementById('signform').style.display = ""
        document.getElementById('signformbackground').style.display = ""
    }

    // ----------------------彈出視窗------------------

    function signclose() {
        document.getElementById('signform').style.display = "none"
        document.getElementById('registerform').style.display = "none"
        document.getElementById('signformbackground').style.display = "none"
        // location.reload()
        document.getElementById("registeruser").value = null
        document.getElementById("registeremail").value = null
        document.getElementById("registerrepassword").value = null
        document.getElementById("email").value = null
        document.getElementById("password").value = null
    }

    function registerform() {
        document.getElementById('registerform').style.display = ""
        document.getElementById('signform').style.display = "none"
        //點選登入 註冊 回到原本的表單畫面
        document.getElementById("email").value = null
        document.getElementById("password").value = null

        document.getElementById("signinmegsus").style.display = "none"
        document.getElementById("signinmegerror").style.display = "none"
        document.getElementById("signinmeg").style.display = "none"


    }
    function signform() {
        document.getElementById('registerform').style.display = "none"
        document.getElementById('signform').style.display = ""
        //點選登入 註冊 回到原本的表單畫面
        document.getElementById("registeruser").value = null
        document.getElementById("registeremail").value = null
        document.getElementById("registerrepassword").value = null

        document.getElementById("signinmegsus").style.display = "none"
        document.getElementById("signinmegerror").style.display = "none"
        document.getElementById("signinmeg").style.display = "none"


    }



    //--------------登出畫面-------------
    function displaysignout() {
        fetch("http://3.115.236.143:3000/api/user", {//上線修改
        // fetch("http://3.115.236.143:3000/api/user", {
            method: 'DELETE'
            // method: 'GET'
        }) //測試
            .then((sessionresult) => {
                return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((sessionresult) => {
                if (sessionresult.ok == true) {
                    location.reload()
                    document.getElementById('displaysignout').style.display = "none"
                    document.getElementById('displaysign').style.display = ""


                }


            })


    }


    //--------------登入-------------
    function signin() {
        emailElement = document.getElementById('email')
        email = emailElement.value;
        // console.log("email??", email)

        passwordElement = document.getElementById('password')
        password = passwordElement.value;
        // console.log("password??", password)

        fd = new FormData(document.getElementById('signinform'))
        console.log("fd", fd)

        fetch("http://3.115.236.143:3000/api/user", {//上線修改
        // fetch("http://3.115.236.143:3000/api/user", {

            method: 'PATCH',
            body: fd
        })   //發送query string
            .then(function (response) {
                console.log(response)
                // console.log(email)
                // console.log(password)
                // return response.text();
                return response.json();
            })
            .then(function (result) {
                // document.getElementById("username").innerHTML = result

                // finall.innerHTML="";
                // let username;
                // username=result[0]
                // finall.innerHTML = result.name + " (" + result.username + ")"
                console.log("登入資訊:", result);
                // console.log("登入資訊:", result.ok);


                if (result.ok == true) {
                    //右上角 改變成登出
                    document.getElementById('displaysign').style.display = "none"
                    document.getElementById('displaysignout').style.display = "block"
                    //重新整理關閉表單
                    location.reload()
                    signclose()


                } else {
                    let signinmeg_error = result.message
                    document.getElementById('displaysign').style.display = "block"
                    document.getElementById('displaysignout').style.display = "none"
                    //失敗出現錯誤
                    document.getElementById('signinmeg').style.display = "block"
                    document.getElementById('signinmeg').innerText = signinmeg_error
                    //重新輸入信箱 密碼
                    document.getElementById("email").value = null
                    document.getElementById("password").value = null

                }

            });
    };



    //------------- 註冊 -------------
    signup = function () {

        registeruserElement = document.getElementById('registeruser')
        registeruser = registeruserElement.value;
        // console.log("registeruser", registeruser)

        registeremailElement = document.getElementById('registeremail')
        registeremail = registeremailElement.value;
        // console.log("registeremail", registeremail)
        // console.log("email??", email)

        registerrepasswordElement = document.getElementById('registerrepassword')
        registerrepassword = registerrepasswordElement.value;
        // console.log("registerrepassword", registerrepassword)
        // console.log("password??", password)

        upfd = new FormData(document.getElementById('signupform'))
        // console.log("fd", upfd)

        fetch("http://3.115.236.143:3000/api/user", {//上線修改
        // fetch("http://3.115.236.143:3000/api/user", {
            method: 'POST',
            body: upfd

        })   //發送query string
            .then(function (response) {
                console.log(response)
                return response.json();
            })
            .then(function (result) {
                console.log("登入資訊:", result);
                // console.log("登入資訊:", result.ok);

                if (result.ok == true) {  //註冊成功 顯示
                    document.getElementById('signinmegerror').style.display = "none"
                    document.getElementById('signinmegsus').style.display = "block"
                    // document.getElementById("registeruser").value = null
                    document.getElementById("registeremail").value = null
                    document.getElementById("registerrepassword").value = null

                } else {//註冊失敗 顯示
                    console.log(result.message)
                    let message = result.message
                    document.getElementById("registeremail").value = null
                    document.getElementById("registerrepassword").value = ""
                    document.getElementById('signinmegerror').style.display = "block"
                    document.getElementById('signinmegerror').innerText = message
                    document.getElementById('signinmegsus').style.display = "none"
                    // document.getElementById("registerform").reset();

                }

            }).catch((err) => {
                console.log('錯誤:', err);
            });
    }


    //  表單不跳
    function func() {
        return false;
    }




    // 處理右上角 預定文字
    function booking() {


        // 檢查使用者是否已經登入

        // fetch("http://3.115.236.143:3000/api/user", {
        fetch("http://3.115.236.143:3000/api/user", { //上線修改
            method: 'GET'
        }) //測試
            .then((sessionresult) => {
                return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((sessionresult) => {
                // console.log("SESSSION判斷", result)
                // console.log("SESSSION判斷", sessionresult.data)
                //如果回傳有值的話，右上角顯示登出 登入顯示
                //如果回傳沒有值 代表沒有登入狀態 display:""
                if (sessionresult.data == null) {
                    // SESSSION判斷等於Null 代表沒有登入，進入登入流程
                    start()
                } else {
                    //有登入 ， 導到 /booking 頁面
                    // document.location.href = "http://3.115.236.143:3000/booking";
                    document.location.href = "http://3.115.236.143:3000/booking";//上線修改

                }

            })

    }

    // WEEK-5 APIBOOKING

    // 【開始預定行程】按鈕，當使用者點擊按鈕時，請執行以下步驟：
    function startbooking() {


        // 檢查使用者是否已經登入
        // fetch("http://3.115.236.143:3000/api/user", {  
        fetch("http://3.115.236.143:3000/api/user", { //上線修改
            method: 'GET'
        }) //測試
            .then((sessionresult) => {
                return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((sessionresult) => {
                // console.log("SESSSION判斷", result)
                // console.log("SESSSION判斷", sessionresult.data)
                //如果回傳有值的話，右上角顯示登出 登入顯示
                //如果回傳沒有值 代表沒有登入狀態 display:""
                if (sessionresult.data == null) {
                    // SESSSION判斷等於Null 代表沒有登入，進入登入流程
                    start()
                } else {
                    //有登入 ，前端使用 AJAX 呼叫【建立新的預定行程 API】，
                    //紀錄景點、日期、時間、價格等資訊。建立行程成功後，直接將使用者導向到預定行程的頁面( /booking )。
                    //使用者一次只能預定一個行程，若存在已經預定的行程，則用新的預定取代舊的。


                    //獲取 attractionId 的值
                    getUrlString = location.href; //抓網址列 想辦法取得id 這個值 餵給 fetch
                    url = new URL(getUrlString)

                    url_id = url.pathname.split('/')[2]
                    console.log("url_id", url_id)


                    //獲取日期 date的值
                    dateElement = document.getElementById('date')
                    date = dateElement.value;
                    console.log("date", date)

                    //獲取 上/下半天 time的值


                    if (document.getElementById('booking_timebutton_green_2').style.display == "block") {
                        booking_timebutton_green = "afternoon"
                    } else {
                        booking_timebutton_green = "morning";
                    }

                    console.log("booking_timebutton_green", booking_timebutton_green)

                    //獲取 price 的值


                    if (document.getElementById('money_2500').style.display == "block") {
                        money = "2500"
                    } else {
                        money = "2000"
                    }

                    console.log("money", money)

                    //  
                    fetch("http://3.115.236.143:3000/api/booking", {//上線修改
                    // fetch("http://3.115.236.143:3000/api/booking", {
                        method: "POST",
                        body: JSON.stringify({
                            "attractionId": url_id,
                            "date": date,
                            "time": booking_timebutton_green,
                            "price": money
                        })

                    })
                        .then(function (response) {
                            console.log(response)
                            return response.json();
                            // return response.text();
                        })
                        .then(function (result) {

                            //抓到後端
                            console.log("result:", result);
                            if (result.ok == true) {  //註冊成功 顯示
                                console.log("result.ok:", result.ok);
                                document.getElementById('bookingmeg').style.display = "none"

                                // document.location.href = "http://3.115.236.143:3000/booking";
                                document.location.href = "http://3.115.236.143:3000/booking"; //上線修改

                            } else if (result.message == "未登入系統，拒絕存取") {
                                console.log("result.error:未登入系統，拒絕存取", result.message);
                                start()

                            } else if (result.message == "建立失敗，輸入不正確或其他原因") {
                                console.log("result.error:建立失敗，輸入不正確或其他原因", result.message);
                                document.getElementById('bookingmeg').style.display = "block"
                                setTimeout(document.getElementById('bookingmeg').style.display = "none", 5000)

                            } else if (result.message == "未選取日期") {
                                console.log("未選取日期", result.message);
                                document.getElementById('bookingmeg').style.display = "block"
                                document.getElementById('bookingmeg').innerText = result.message
                                
                                setTimeout(function(){document.getElementById("bookingmeg").style.display="none";},4000)

                            }

                            //         if (result.ok == true) {  //註冊成功 顯示
                            //             document.getElementById('signinmegerror').style.display = "none"
                            //             document.getElementById('signinmegsus').style.display = "block"
                            //             // document.getElementById("registeruser").value = null
                            //             document.getElementById("registeremail").value = null
                            //             document.getElementById("registerrepassword").value = null

                            //         } else {//註冊失敗 顯示
                            //             console.log(result.message)
                            //             let message = result.message
                            //             document.getElementById("registeremail").value = null
                            //             document.getElementById("registerrepassword").value = ""
                            //             document.getElementById('signinmegerror').style.display = "block"
                            //             document.getElementById('signinmegerror').innerText = message
                            //             document.getElementById('signinmegsus').style.display = "none"
                            //             // document.getElementById("registerform").reset();

                            // }

                        })
                    // .catch((err) => {
                    //     console.log('錯誤:', err);
                    // });


















                }

            })






    }







</script>

</html>