<html>

<head>

    <meta charset="UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1,maxium-scale=1" />
    <title> 台北一日遊-booking </title>
    <link href="booking.css" rel="stylesheet" type="text/css">
    <!-- 上傳網址要+/ 擺在static ， 離線的話不加 擺在HTML 同一個資料夾 -->

</head>

<body>

    <div class="top1">
        <div class="top">
            <div class="top2">
                <div class="top_left_logo" style="cursor: pointer;"><a href="http://192.168.0.131:3000/"
                        style="text-decoration:none;color:#448899">台北一日遊 </a>
                </div>
                <div class="top_right">
                    <div class="top_right_item" id="booking" onclick="booking()" style="cursor: pointer;">預定行程</div>
                    <div class="top_right_item" id="displaysign" onclick="start() " style="cursor: pointer;"> 登入/註冊
                    </div>
                    <div class="top_right_item" id="displaysignout" onclick="displaysignout()"
                        style="display:none;cursor: pointer;"> 登出
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 分割線 -->
    <hr class="top_hr" style="margin-bottom:37px ; opacity: 0.2;" />

    <!-- signform 註冊 // 登入  ------------------------------------>
    <div style="display: flex;    z-index: 1002;justify-content: center;    ">
        <div class="signform" id="signform" style="display: none">
            <div class="signboxup"></div>

            <div class="signtitlebox">
                <div class="signtitle">
                    <p style="font-weight: 700;font-size: 24px;line-height: 24px;color: #666666;">登入會員帳號 </p>
                </div>

                <div class="signclose">
                    <img src="/icon_close.png" width="35px" height="35px" onclick="signclose()">
                </div>
            </div>

            <!-- 表單應該不是直接傳給後端查資料回傳 是給JS 呼叫後端做請求 -->
            <form id="signinform" action="" onsubmit=" return func()">
                <div class="userdiv">
                    <input id="email" class="signinput" type="text" placeholder="輸入電子信箱" name="email">
                </div>

                <div class="pwddiv">
                    <input id="password" class="signinput" type="password" placeholder="輸入密碼" name="password"
                        autocomplete="on">
                </div>

                <div class="postdiv">
                    <button onclick="signin()">登入帳戶</button>
                </div>
            </form>



            <div class="change" style="color: #4d4d4d">
                <p id="signinmeg" style="text-decoration: none;color:red; display:none;">輸入的 Email 或密碼錯誤，登入失敗 </p>
                <p>還沒有帳戶？點此<a style="cursor: pointer; text-decoration: none;color: #666666"
                        onclick="registerform()">註冊</a>
                </p>
            </div>


        </div>



        <div class="signform" id="registerform" style="display: none">
            <div class="signboxup">

            </div>

            <div class="signtitlebox">

                <div class="signtitle">
                    <p style="font-weight: 700;font-size: 24px;line-height: 24px;color: #666666;">註冊會員帳號 </p>
                </div>

                <div class="signclose">
                    <img src="/icon_close.png" width="35px" height="35px" onclick="signclose()">
                </div>
            </div>
            <!-- 註冊---------------------- -->
            <form id="signupform" action="" onsubmit=" return func()" method="POST">
                <!-- return error 不用理 -->
                <div class="userdiv">
                    <input id="registeruser" class="signinput" type="text" placeholder="輸入姓名" name="registeruser">
                </div>


                <div class="pwddiv">
                    <input id="registeremail" class="signinput" type="text" placeholder="輸入電子郵件" name="registeremail"
                        autocomplete="on">
                </div>

                <div class="pwddiv">
                    <input id="registerrepassword" class="signinput" type="password" placeholder="輸入密碼"
                        name="registerrepassword" autocomplete="on">
                </div>

                <div class="postdiv">
                    <button onclick="signup()">註冊新帳戶</button>

                </div>
            </form>



            <div class="change" style="color: #4d4d4d">
                <p id="signinmegerror" style="text-decoration: none;color:red; display:none;">輸入的 Email 已經註冊 </p>
                <p id="signinmegsus" style="text-decoration: none;color:red; display:none;">註冊成功 </p>
                <p>已經有帳戶了？點此<a style=" cursor: pointer; text-decoration: none;color: #666666 "
                        onclick="signform()">登入</a>
                </p>
            </div>







        </div>
    </div>

    <div class="hello" id="hello">
        <h>您好，<h id="who"> </h> ，待預定行程如下</h>
    </div>

    <!-- 消失 -->
    <div id="cancel">


        <div class="main">
            <!-- 左半邊 -->
            <div class="main_left">

                <div class="main_left_img" id='main_left_img'></div> <!-- 創立一個div 給img  塞入 -->


            </div>


            <!-- 右半邊 -->
            <div class="main_right">

                <!-- 預定表格 -->
                <div class="main_right_booking">
                    <!-- 預定表格 row 的 框   訂購導覽行程 -->
                    <div class="main_right_bookingbox">
                        <!-- HTML 直接打的字 沒辦法用CSS 套用!!! -->
                        <div class="taipei" id="main_right_name">
                            <h>台北一日遊 :
                            </h>

                        </div>
                    </div>
                    <!--   日期-->
                    <div class="main_right_bookingbox" id="main_right_date">
                        <h style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">日期
                            :&ensp;

                        </h>
                    </div>
                    <!--   時間 :-->
                    <div class="main_right_bookingbox" id="main_right_time">

                        <h style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">時間
                            :&ensp;
                        </h>

                    </div>

                    <!-- 費用-->
                    <div class="main_right_bookingbox">

                        <h style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">費用
                            :&ensp; <h style="font-weight: 400" ;>新台幣 </h>
                            <h style="font-weight: 400" id="main_right_price"></h>
                            <h style="font-weight: 400">元</h> &ensp;
                        </h>

                    </div>

                    <!--地點-->

                    <div class="main_right_bookingbox" id="main_right_address">
                        <h style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 13px;">地點
                            :&ensp;
                        </h>
                    </div>

                </div>
            </div>
            <!-- 垃圾桶 -->
            <div class="trashdiv">
                <div class="trash" style="cursor: pointer;" onclick="trash()"> <img src="/icon_delete.png"> </div>
            </div>
        </div>



        <div>
            <hr class="middle_hr" />
        </div>


        <div class="intro">
            <div class="hello">
                <h>您的聯絡資訊</h>
            </div>

            <!-- 聯絡姓名 -->
            <div class="intro_container">
                <h
                    style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px; padding-left: 10px;">
                    聯絡姓名：
                </h>
                <input class="input" id="contactname"></input>
            </div>
            <!-- 聯絡信箱 -->
            <div class="intro_container">
                <h
                    style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px;padding-left: 10px;">
                    聯絡信箱：
                </h>
                <input class="input" id="contactemail"></input>

            </div>

            <!-- 手機號碼 -->
            <div class="intro_container">
                <h
                    style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px;padding-left: 10px;">
                    手機號碼：
                </h>
                <input class="input" id="contactphone"></input>

            </div>


            <div class="hello">
                <h style="font-size:16px ; margin-top: 20px;">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</h>
            </div>

  
        </div>

 

        <div>
            <hr class="middle_hr" />
        </div>


        <div class="intro">
            <div class="hello">
                <h>信用卡付款資訊</h>
            </div>

            <!-- 卡片號碼： -->
            <div class="intro_container" style="display: flex;">
                <h
                    style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px; padding-left: 10px;">
                    卡片號碼：
                </h>
                <div class="input" id="card-number"></div>
            </div>
            <!-- 過期時間： -->
            <div class="intro_container" style="display: flex;">
                <h
                    style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px;padding-left: 10px;">
                    過期時間：
                </h>
                <div class="input" id="card-expiration-date"></div>

            </div>

            <!-- 驗證密碼： -->
            <div class="intro_container" style="display: flex;">
                <h
                    style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px;padding-left: 10px;">
                    驗證密碼：
                </h>
                <div class="input" id="card-ccv"></div>

            </div>


            <!-- TEST FORM -->
            <!-- <div style="width: 480px; margin: 50px auto;">
                <label>CardView</label>
                <div id="cardview-container"></div>
                <button id="submit-button" onclick="onClick()">Get Prime</button>
                <pre id="result1"></pre>
                <pre id="result2"></pre>
            </div> -->

        </div>


        <div>
            <hr class="middle_hr" />
        </div>



        <!-- 需動態 -->

        <div class="intro" style="display: flex;justify-content:end ">
            <div id="buy_button">
                <div class="hello">
                    <h style="font-size:16px ;  ">總價：新台幣 <h id="totalMoney"></h> 元 </h>
                </div>
                <button class="buy_button" id="orderbutton" onclick="orderbutton()">確認訂購並付款</button>
                <p id="paymentmeg"
                    style="text-decoration: none;color:red; display:none;font-size: 16px; ">
                    付款失敗，輸入不正確或其他原因 </p>

            </div>
        </div>



    </div>
    <!--目前沒有任何待預定的行程 -->

    <div class="hello" id="nobooking">
        <h
            style="font-size: 16px ; font-weight: 700;  color: #666666; line-height: 32px;height: 32px; padding-left: 10px;">
            目前沒有任何待預定的行程</h>
    </div>




    <!--如果沒行程 
    #cancel  display: none; 
    #nobooking display: block; 
    .footer  height :100%
-->


    <!-- 觀察點 -->
    <footer class="footer" id="foot">
        <div id="keywordfoot"></div>
        <div class="footer_text">
            <p>COPYRIGHT © 2021 台北一日遊 </p>
    </footer>


    <script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>


    <script>
        // 串金流 設定
        TPDirect.setupSDK(124028, "app_x9iHhhCikcMRBzWRc9TDv0Z392dNxmNnEjYB53N5RNk2050EPeuE5v1EragH", "sandbox")

        let fields = {
            number: {
                // css selector
                element: document.getElementById('card-number'),
                placeholder: '**** **** **** ****'
            },
            expirationDate: {
                // DOM object
                element: document.getElementById('card-expiration-date'),
                placeholder: 'MM/YY'
            },
            ccv: {
                element: '#card-ccv',
                placeholder: 'ccv'
            }
        }


        TPDirect.card.setup({
            fields: fields,
            styles: {
                // Style all elements
                'input': {
                    'color': 'gray'
                },
                // Styling ccv field
                'input.ccv': {
                    // 'font-size': '16px'
                },
                // Styling expiration-date field
                'input.expiration-date': {
                    // 'font-size': '16px'
                },
                // Styling card-number field
                'input.card-number': {
                    // 'font-size': '16px'
                },
                // style focus state
                ':focus': {
                    // 'color': 'black'
                },
                // style valid state
                '.valid': {
                    'color': 'green'
                },
                // style invalid state
                '.invalid': {
                    'color': 'red'
                },
                // Media queries
                // Note that these apply to the iframe, not the root window.
                '@media screen and (max-width: 400px)': {
                    'input': {
                        'color': 'orange'
                    }
                }
            }
        })

        // 判斷登出/入
        fetch("http://192.168.0.131:3000/api/user", {//上線測試
            // fetch("http://192.168.0.131:3000/api/user", { 
            method: 'GET'
        }) //測試
            .then((sessionresult) => {
                return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((sessionresult) => {
                // console.log("SESSSION判斷", result)
                console.log("SESSSION判斷", sessionresult.data)
                //如果回傳有值的話，右上角顯示登出 登入顯示
                //如果回傳沒有值 代表沒有登入狀態 display:""
                if (sessionresult.data == null) {
                    // console.log("SESSSION判斷等於Null 代表沒有session 將右上角顯示登入 登出顯示0")
                    document.getElementById('displaysign').style.display = "block"
                    document.getElementById('displaysignout').style.display = "none"
                    // document.location.href = "http://192.168.0.131:3000/booking";
                    document.location.href = "http://192.168.0.131:3000/"; //上線測試
                } else { //表示有登入

                    document.getElementById('displaysign').style.display = "none"
                    document.getElementById('displaysignout').style.display = "block"
                    document.getElementById("who").innerHTML = sessionresult.data.name

                    //檢查訂單狀態是否付款成功 串金流





                }

            })
        fetch("http://192.168.0.131:3000/api/booking", {//上線測試
            // fetch("http://192.168.0.131:3000/api/booking", {
            method: "GET",

        })
            .then(function (response) {
                console.log(response)
                return response.json();
                // return response.text();
            })
            .then(function (result) {
                console.log(result) //得到API 回傳的訊息!

                if (result.data == null) { //代表沒有預定資料

                    document.getElementById('cancel').style.display = "none"
                    document.getElementById('nobooking').style.display = "block"
                    document.getElementById('foot').style.height = "100%"

                } else {
                    pic = result.data.attraction.image //得到第一張照片的資料
                    let imgTag = document.createElement("img");//創立 img 標籤
                    imgTag.src = pic;//標籤.src=照片資料 變成>>  <img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/image/a0/b0/c1/d28/e891/f188/77a58890-7711-4ca2-aebe-4aa379726575.jpg" class="main_left_img">
                    imgTag.setAttribute("class", "img");//給他一個class name 
                    main_left_img.appendChild(imgTag);

                    //得到資料景點名字  name  > 塞進 id=main_right_name
                    name = result.data.attraction.name;
                    let name_h = document.createElement("h");
                    let name_text = document.createTextNode(name);
                    name_h.appendChild(name_text);
                    main_right_name.appendChild(name_h);


                    date = result.data.date;
                    let date_h = document.createElement("h");
                    let date_text = document.createTextNode(date);
                    date_h.appendChild(date_text);
                    main_right_date.appendChild(date_h);


                    time = result.data.time;
                    if (time == "afternoon") {
                        time = "下半天"
                        let time_h = document.createElement("h");
                        let time_text = document.createTextNode(time);
                        time_h.appendChild(time_text);
                        main_right_time.appendChild(time_h);
                    } else {
                        time = "上半天"
                        let time_h = document.createElement("h");
                        let time_text = document.createTextNode(time);
                        time_h.appendChild(time_text);
                        main_right_time.appendChild(time_h);

                    }



                    price = result.data.price;
                    let price_h = document.createElement("h");
                    let price_text = document.createTextNode(price);
                    price_h.appendChild(price_text);
                    main_right_price.appendChild(price_h);

                    price2 = result.data.price;
                    let price_h2 = document.createElement("h");
                    let price_text2 = document.createTextNode(price);
                    totalMoney.appendChild(price_text2);


                    address = result.data.attraction.address;
                    let address_h = document.createElement("h");
                    let address_text = document.createTextNode(address);
                    address_h.appendChild(address_text);
                    main_right_address.appendChild(address_h);

                }

            })

        //# 階段二 WEEK 4 API-------------------------------------
        // ----------------------彈出登入登出視窗------------------
        function start() {
            document.getElementById('signform').style.display = ""
            document.getElementById('signformbackground').style.display = ""
        }

        // ----------------------關閉 登出入 視窗------------------

        function signclose() {
            document.getElementById('signform').style.display = "none"
            document.getElementById('registerform').style.display = "none"
            document.getElementById('signformbackground').style.display = "none"
            // location.reload()
            document.getElementById("registeruser").value = null
            document.getElementById("registeremail").value = null
            document.getElementById("registerrepassword").value = null
            document.getElementById("email").value = null
            document.getElementById("password").value = null
        }


        // ----------------------點選註冊頁面------------------
        function registerform() {
            document.getElementById('registerform').style.display = ""
            document.getElementById('signform').style.display = "none"
            //點選登入 註冊 回到原本的表單畫面
            document.getElementById("email").value = null
            document.getElementById("password").value = null

            document.getElementById("signinmegsus").style.display = "none"
            document.getElementById("signinmegerror").style.display = "none"
            document.getElementById("signinmeg").style.display = "none"


        }


        // ----------------------點選登入頁面------------------
        function signform() {
            document.getElementById('registerform').style.display = "none"
            document.getElementById('signform').style.display = ""
            //點選登入 註冊 回到原本的表單畫面
            document.getElementById("registeruser").value = null
            document.getElementById("registeremail").value = null
            document.getElementById("registerrepassword").value = null

            document.getElementById("signinmegsus").style.display = "none"
            document.getElementById("signinmegerror").style.display = "none"
            document.getElementById("signinmeg").style.display = "none"


        }



        //--------------登出畫面-------------
        function displaysignout() {
            fetch("http://192.168.0.131:3000/api/user", {
                // fetch("http://192.168.0.131:3000/api/user", {//上線測試
                method: 'DELETE'
                // method: 'GET'
            }) //測試
                .then((sessionresult) => {
                    return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
                })
                .then((sessionresult) => {
                    if (sessionresult.ok == true) {
                        location.reload()
                        document.getElementById('displaysignout').style.display = "none"
                        document.getElementById('displaysign').style.display = ""


                    }


                })


        }


        //--------------登入-------------
        function signin() {
            emailElement = document.getElementById('email')
            email = emailElement.value;
            // console.log("email??", email)

            passwordElement = document.getElementById('password')
            password = passwordElement.value;
            // console.log("password??", password)

            fd = new FormData(document.getElementById('signinform'))
            console.log("fd", fd)
            fetch("http://192.168.0.131:3000/api/user", {//上線測試
                // fetch("http://192.168.0.131:3000/api/user", {
                method: 'PATCH',
                body: fd
            })   //發送query string
                .then(function (response) {
                    console.log(response)
                    // console.log(email)
                    // console.log(password)
                    // return response.text();
                    return response.json();
                })
                .then(function (result) {
                    // document.getElementById("username").innerHTML = result

                    // finall.innerHTML="";
                    // let username;
                    // username=result[0]
                    // finall.innerHTML = result.name + " (" + result.username + ")"
                    console.log("登入資訊:", result);
                    // console.log("登入資訊:", result.ok);


                    if (result.ok == true) {
                        //右上角 改變成登出
                        document.getElementById('displaysign').style.display = "none"
                        document.getElementById('displaysignout').style.display = "block"
                        //重新整理關閉表單
                        location.reload()
                        signclose()


                    } else {
                        let signinmeg_error = result.message
                        document.getElementById('displaysign').style.display = "block"
                        document.getElementById('displaysignout').style.display = "none"
                        //失敗出現錯誤
                        document.getElementById('signinmeg').style.display = "block"
                        document.getElementById('signinmeg').innerText = signinmeg_error
                        //重新輸入信箱 密碼
                        document.getElementById("email").value = null
                        document.getElementById("password").value = null

                    }

                });
        };



        //------------- 註冊 -------------
        signup = function () {

            registeruserElement = document.getElementById('registeruser')
            registeruser = registeruserElement.value;
            // console.log("registeruser", registeruser)

            registeremailElement = document.getElementById('registeremail')
            registeremail = registeremailElement.value;
            // console.log("registeremail", registeremail)
            // console.log("email??", email)

            registerrepasswordElement = document.getElementById('registerrepassword')
            registerrepassword = registerrepasswordElement.value;
            // console.log("registerrepassword", registerrepassword)
            // console.log("password??", password)

            upfd = new FormData(document.getElementById('signupform'))
            // console.log("fd", upfd)
            fetch("http://192.168.0.131:3000/api/user", {//上線測試
                // fetch("http://192.168.0.131:3000/api/user", {
                method: 'POST',
                body: upfd

            })   //發送query string
                .then(function (response) {
                    console.log(response)
                    return response.json();
                })
                .then(function (result) {
                    console.log("登入資訊:", result);
                    // console.log("登入資訊:", result.ok);

                    if (result.ok == true) {  //註冊成功 顯示
                        document.getElementById('signinmegerror').style.display = "none"
                        document.getElementById('signinmegsus').style.display = "block"
                        // document.getElementById("registeruser").value = null
                        document.getElementById("registeremail").value = null
                        document.getElementById("registerrepassword").value = null

                    } else {//註冊失敗 顯示
                        console.log(result.message)
                        let message = result.message
                        document.getElementById("registeremail").value = null
                        document.getElementById("registerrepassword").value = ""
                        document.getElementById('signinmegerror').style.display = "block"
                        document.getElementById('signinmegerror').innerText = message
                        document.getElementById('signinmegsus').style.display = "none"
                        // document.getElementById("registerform").reset();

                    }

                }).catch((err) => {
                    console.log('錯誤:', err);
                });
        }
        //  表單不跳
        function func() {
            return false;
        }



        // 處理右上角 預定文字
        function booking() {


            // 檢查使用者是否已經登入
            fetch("http://192.168.0.131:3000/api/user", { //上線測試
                // fetch("http://192.168.0.131:3000/api/user", { 
                method: 'GET'
            }) //測試
                .then((sessionresult) => {
                    return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
                })
                .then((sessionresult) => {
                    // console.log("SESSSION判斷", result)
                    // console.log("SESSSION判斷", sessionresult.data)
                    //如果回傳有值的話，右上角顯示登出 登入顯示
                    //如果回傳沒有值 代表沒有登入狀態 display:""
                    if (sessionresult.data == null) {
                        // SESSSION判斷等於Null 代表沒有登入，進入登入流程
                        start()
                    } else {
                        //有登入 ， 導到 /booking 頁面

                        document.location.href = "http://192.168.0.131:3000/booking";

                    }

                })

        }




        function trash() {
            console.log("DELETE")
            fetch("http://192.168.0.131:3000/api/booking", {//上線測試
                // fetch("http://192.168.0.131:3000/api/user", {
                method: 'DELETE'
            }) //測試 
                .then((result) => {
                    return result.json();//將資料用JSON 的格式用物件和陣列的組合
                })
                .then((result) => {
                    if (result.ok == true) {
                        //右上角 改變成登出
                        document.getElementById('cancel').style.display = "none"
                        document.getElementById('nobooking').style.display = "block"
                        document.getElementById('foot').style.height = "100%"

                        //重新整理關閉表單

                    }


                })



        }








        // -----------------------------------------TAYPAY




        //可用預設的 form
        // var defaultCardViewStyle = {
        //     color: 'rgb(0,0,0)',
        //     fontSize: '15px',
        //     lineHeight: '24px',
        //     fontWeight: '300',
        //     errorColor: 'red',
        //     placeholderColor: ''
        // }


        // TPDirect.card.setup('#cardview-container', defaultCardViewStyle)

        // submitButton = document.querySelector('#submit-button')
        // cardViewContainer = document.querySelector('#cardview-container')


        //TEST 小按鈕
        // function onClick() {
        //     TPDirect.card.getPrime(function (result) {
        //         if (result.status !== 0) {
        //             console.log('getPrime 錯誤')
        //             return
        //         }
        //         alert('getPrime 成功')
        //         prime = result.card.prime
        //         document.querySelector('#result1').innerHTML = JSON.stringify(result.card.prime, null, 4)

        //         $.post('/pay-by-prime', { prime: prime }, function (data) {
        //             alert('付款成功')
        //             document.querySelector('#result2').innerHTML = JSON.stringify(data, null, 4)
        //         })
        //     })
        // }


        // ----------------------


        function apiPayByPrime() {

            return new Promise(function (resolve, reject) {


                TPDirect.card.getPrime(function (prime) {
                    if (prime.status !== 0) {
                        console.log('getPrime 錯誤')
                        document.getElementById('paymentmeg').style.display = "block"
                        // setTimeout(document.getElementById('paymentmeg').style.display = "none", 5000)
                         


                        return
                    }
                    // alert('getPrime 成功')
                    document.getElementById('paymentmeg').style.display = "none"

                    prime = prime.card.prime
                    resolve(prime) //丟出去prime到函數外
                    console.log("prime0", prime)
                    // this.submitPrime(prime)

                    document.querySelector('#result1').innerHTML = JSON.stringify(prime, null, 4)


                    // $.post('/pay-by-prime', { prime: prime }, function (data) {
                    //     alert('付款成功')
                    //     document.querySelector('#result2').innerHTML = JSON.stringify(data, null, 4)
                    // })
                    // console.log("prime1 沒用", prime)

                });
            })
        }

        async function orderbutton() {
            contactname = document.getElementById('contactname').value
            contactemail = document.getElementById('contactemail').value
            contactphone = document.getElementById('contactphone').value


            // var prime;

            let prime = await apiPayByPrime();
            console.log("prime await", prime)



            console.log("prime2", prime)


            let res = await fetch("http://192.168.0.131:3000/api/booking", {

                method: "GET",

            })
                .then(function (response) {
                    console.log(response)
                    return response.json();

                })
                .then(function (bookingresult) {



                    // let payReslut = await apiPayByPrime(prime);
                    console.log("prime3", prime)



                    fetch("http://192.168.0.131:3000/api/orders", {

                        method: "POST",
                        body: JSON.stringify({
                            "prime": prime,
                            "order": {
                                "price": bookingresult.data.price,
                                "trip": {
                                    "attraction": bookingresult.data.attraction,
                                    "date": bookingresult.data.date,
                                    "time": bookingresult.data.time
                                },
                                "contact": {
                                    "name": contactname,
                                    "email": contactemail,
                                    "phone": contactphone
                                }
                            }
                        })

                    })
                        .then(function (response) {
                            console.log(response)
                            return response.json();
                            // return response.text();
                        })
                        .then(function (bookingresult) {
                            console.log("bookingresult資訊:", bookingresult);
                            number = bookingresult.data.number
                            status = bookingresult.data.payment.status

                            console.log(status)


                            //付款成功 status=0
                            if (bookingresult.data.payment.status == 0) {


                                fetch("http://192.168.0.131:3000/api/booking", {//上線測試
                                    // fetch("http://192.168.0.131:3000/api/user", {
                                    method: 'DELETE'
                                }) //測試 
                                    .then((result) => {
                                        return result.json();//將資料用JSON 的格式用物件和陣列的組合
                                    })
                                    .then((result) => {
                                        if (result.ok == true) {
                                            //右上角 改變成登出
                                            document.getElementById('cancel').style.display = "none"
                                            document.getElementById('nobooking').style.display = "block"
                                            document.getElementById('foot').style.height = "100%"
                                            //重新整理關閉表單
                                        }
                                    })

                                document.location.href = "http://192.168.0.131:3000/thankyou?number="+number
                            } else {
                                let bookingresultmeg_error = bookingresult.message
                                document.getElementById('paymentmeg').innerText = bookingresult.message
                                


                            }





                        })



                })



        }



    </script>




</body>

</html>