<html>

<head>
    <meta charset="UTF-8">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>台北一日遊-首頁 </title>


    <link href="index.css" rel="stylesheet" type="text/css">
    <!-- 離線的 要擺在HTML同一個資料夾 -->
</head>


<body>
    <!-- signform  背景------------------------------------>
    <div class="signformbackground" id="signformbackground" style="display: none ;"></div>

    <!--NAV 導覽列----------------------------------->
    <div class="top1">
        <div class="top">
            <div class="top2">

                <div class="top_left_logo" style="cursor: pointer;"><a href=""
                        style="text-decoration:none;color:#448899">台北一日遊 </a>
                </div>
                <div class="top_right">

                    <div class="top_right_item">預定行程</div>
                    <div class="top_right_item" id="displaysign" onclick="start()"> 登入/註冊</div>
                    <div class="top_right_item" id="displaysignout" onclick="displaysignout()" style="display:none"> 登出
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--標題----------------------------------->
    <div class="head">


        <div class="head2">

            <div class="head_middle">
                <div class="head_middle_text1">輕鬆享受台北一日悠閒</div>
                <div class="head_middle_text2">探索每個角落，體驗城市的深度旅遊行程</div>
                <div class="head_middle_search_box">
                    <input class="head_middle_search_input" placeholder="輸入景點名稱查詢" id='AttrationKeyword'>
                    <button class="head_middle_search_button" type="button" onclick="getDataAttrationKeyword()"><img
                            src="icon_search.png"> </button>
                </div>

            </div>

        </div>
        <div class="headimg">
        </div>
    </div>

    <!-- signform 註冊 // 登入  ------------------------------------>
    <div style="display: flex;    z-index: 1002;justify-content: center;    ">
        <div class="signform" id="signform" style="display: none">
            <div class="signboxup"></div>

            <div class="signtitlebox">
                <div class="signtitle">
                    <p style="font-weight: 700;font-size: 24px;line-height: 24px;color: #666666;">登入會員帳號 </p>
                </div>

                <div class="signclose">
                    <img src="icon_close.png" width="35px" height="35px" onclick="signclose()">
                </div>
            </div>

            <!-- 表單應該不是直接傳給後端查資料回傳 是給JS 呼叫後端做請求 -->
            <form id="signinform" action="" onsubmit=" return func()">
                <div class="userdiv">
                    <input id="email" class="signinput" type="text" placeholder="輸入電子信箱" name="email">
                </div>

                <div class="pwddiv">
                    <input id="password" class="signinput" type="password" placeholder="輸入密碼" name="password"
                        autocomplete="on">
                </div>

                <div class="postdiv">
                    <button onclick="signin()">登入帳戶</button>
                </div>
            </form>



            <div class="change" style="color: #4d4d4d">
                <p id="signinmeg" style="text-decoration: none;color:red; display:none;">輸入的 Email 或密碼錯誤，登入失敗 </p>
                <p>還沒有帳戶？點此<a style="cursor: pointer; text-decoration: none;color: #666666"
                        onclick="registerform()">註冊</a>
                </p>
            </div>


        </div>



        <div class="signform" id="registerform" style="display: none">
            <div class="signboxup">

            </div>

            <div class="signtitlebox">

                <div class="signtitle">
                    <p style="font-weight: 700;font-size: 24px;line-height: 24px;color: #666666;">註冊會員帳號 </p>
                </div>

                <div class="signclose">
                    <img src="icon_close.png" width="35px" height="35px" onclick="signclose()">
                </div>
            </div>
            <!-- 註冊---------------------- -->
            <form id="signupform" action="" onsubmit=" return func()" method="POST">
                <!-- return error 不用理 -->
                <div class="userdiv">
                    <input id="registeruser" class="signinput" type="text" placeholder="輸入姓名" name="registeruser">
                </div>

                <!-- <img src="image/signloading.gif" style="display: none" id="registerloading"> -->
                <div class="pwddiv">
                    <input id="registeremail" class="signinput" type="text" placeholder="輸入電子郵件" name="registeremail"
                        autocomplete="on">
                </div>

                <div class="pwddiv">
                    <input id="registerrepassword" class="signinput" type="password" placeholder="輸入密碼"
                        name="registerrepassword" autocomplete="on">
                </div>

                <div class="postdiv">
                    <button onclick="signup()">註冊新帳戶</button>

                </div>
            </form>



            <div class="change" style="color: #4d4d4d">
                <p id="signinmegerror" style="text-decoration: none;color:red; display:none;">輸入的 Email 已經註冊 </p>
                <p id="signinmegsus" style="text-decoration: none;color:red; display:none;">註冊成功 </p>
                <p>已經有帳戶了？點此<a style=" cursor: pointer; text-decoration: none;color: #666666 "
                        onclick="signform()">登入</a>
                </p>
            </div>



        </div>
    </div>

    <!-- 從無到有產生景點方塊 -->
    <main class="main" id="main">
    </main>

    <!-- A footer for the page. -->
    </div>
    <footer class="footer" id="foot">
        <div id="keywordfoot"></div>
        <div class="footer_text">
            <p>COPYRIGHT © 2021 台北一日遊</p>
    </footer>



</body>


<script>


    // Intersection Observer  //  Infinite Scroll  觀察 foot
    // https://shubo.io/intersection-observer-api/
    const foot = document.getElementById('foot');
    const callback = (entries, observer) => {
        entries.forEach(entry => {
            // console.log(entry);
            if (entry.isIntersecting) {
                add()
            }
        }
        );
    };
    const observer = new IntersectionObserver(callback);

    //觀察keywordfoot
    const keywordfoot = document.getElementById('keywordfoot');
    const keywordcallback = (entries, observer) => {
        entries.forEach(entry => {
            // console.log('keywordfoot', entry);
            if (entry.isIntersecting) {
                addkeyword()
            }
        }
        );
    };
    const keywordobserver = new IntersectionObserver(keywordcallback);





    // 一打開網頁 載入首頁
    fetch("http://3.115.236.143:3000/api/attractions") 
    // fetch("http://192.168.0.131:3000/api/attractions") //測試
        .then((result) => {
            return result.json();//將資料用JSON 的格式用物件和陣列的組合
        })
        .then((result) => {


            // 一打開網頁 確認SESSION
            //192.168.0.131:3000 >> 上限要記得換 3.115.236.143:3000/
            fetch("http://3.115.236.143:3000/api/user", {
                method: 'GET'
            }) //測試
                .then((sessionresult) => {
                    return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
                })
                .then((sessionresult) => {
                    // console.log("SESSSION判斷", result)
                    // console.log("SESSSION判斷", sessionresult.data)
                    //如果回傳有值的話，右上角顯示登出 登入顯示
                    //如果回傳沒有值 代表沒有登入狀態 display:""
                    if (sessionresult.data == null) {
                        // console.log("SESSSION判斷等於Null 代表沒有session 將右上角顯示登入 登出顯示0")
                        document.getElementById('displaysign').style.display = "block"
                        document.getElementById('displaysignout').style.display = "none"
                    } else {
                        document.getElementById('displaysign').style.display = "none"
                        document.getElementById('displaysignout').style.display = "block"

                    }

                })


            // 載入網頁時 從無到有載入第一頁的container
            for (d = 1; d < 13; d++) {
                //以下都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                let containerdiv = document.createElement("div");
                containerdiv.id = "container" + String(d);
                containerdiv.className = "container";
                document.getElementById("main").appendChild(containerdiv);

                let picdiv = document.createElement("div");
                picdiv.className = "Pic";
                picdiv.id = "pic" + String(d);
                document.getElementById("container" + String(d)).appendChild(picdiv);

                let titlediv = document.createElement("div");
                titlediv.className = "Title";
                titlediv.id = "view" + String(d);
                document.getElementById("container" + String(d)).appendChild(titlediv);

                let containerbottom = document.createElement("div");
                containerbottom.className = "containerbottom";
                containerbottom.id = "containerbottom" + String(d);
                document.getElementById("container" + String(d)).appendChild(containerbottom);

                let mrtdiv = document.createElement("div");
                mrtdiv.className = "mrtdiv";
                mrtdiv.id = "mrtdiv" + String(d);
                document.getElementById("containerbottom" + String(d)).appendChild(mrtdiv);

                let catediv = document.createElement("div");
                catediv.className = "catediv";
                catediv.id = "catediv" + String(d);
                document.getElementById("containerbottom" + String(d)).appendChild(catediv);
            }

            // 載入網頁時 將照片和景點塞入 從第一頁的container
            function Viewdata(view, id) {
                this.name = result.data[i].name;
                let x = document.createElement("p");
                x.setAttribute("class", "Title");
                let t = document.createTextNode(this.name);
                x.appendChild(t);
                document.getElementById(id).appendChild(x);
            }

            function Picdata(pic, imgid) {
                this.pic = result.data[i].images[0];
                let imgTag = document.createElement("img");
                imgTag.src = this.pic;
                imgTag.setAttribute("class", "Pic");
                let mm = document.getElementById(imgid);
                mm.appendChild(imgTag);//將id="pic " 插入 img 標籤

                //將圖片加入超連結
                dataid = result.data[i].id; //取得data 的id
                let linkTag = document.createElement("a"); //建立HTML a 標籤
                linkTag.href = "http://3.115.236.143:3000/attraction/" + dataid; // 建立 a href=http://3.115.236.143:3000/attraction/<id>
                mm.appendChild(linkTag); //將id="pic " 插入a標籤
                linkTag.appendChild(imgTag) //將 a 標籤 插入 img
            }

            function mrtdata(mrt, mrtdiv) {
                this.mrt = result.data[i].mrt;
                let m = document.createElement("p");
                m.setAttribute("class", "mrtdiv");
                let r = document.createTextNode(this.mrt);
                m.appendChild(r);
                document.getElementById(mrtdiv).appendChild(m);
            }


            function catedata(cate, catediv) {
                this.catediv = result.data[i].category;
                let c = document.createElement("p");
                c.setAttribute("class", "catediv");
                let a = document.createTextNode(this.catediv);
                c.appendChild(a);
                document.getElementById(catediv).appendChild(c);
            }
            //以上都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            for (i = 0; i < 12; i++) {
                Viewdata(i, "view" + String(i + 1));
                Picdata(i, "pic" + String(i + 1));
                mrtdata(i, "mrtdiv" + String(i + 1));
                catedata(i, "catediv" + String(i + 1));
            }
            //設一段延遲等網頁載完打開觀察
            setTimeout(observer.observe(foot), 2000)

        })


    // LOAD MORE. .載入下一頁 ，從下一頁的第一筆取DATA
    let loadcount = 0
    function add() {
        loadcount = loadcount + 1
        let loadnum = loadcount * 12
        // console.log("載入數字:" + loadnum)

        fetch("http://3.115.236.143:3000/api/attractions?page=" + String(loadcount))
        // fetch("http://192.168.0.131:3000/api/attractions?page=" + String(loadcount)) //測試
            .then((result) => {
                return result.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((result) => {
                //loadnum + 1+result.data.length 防止多加最後一頁多的div
                for (d = loadnum + 1; d < loadnum + 1 + result.data.length; d++) {

                    //以下都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    let containerdiv = document.createElement("div");
                    containerdiv.id = "container" + String(d);
                    containerdiv.className = "container";
                    document.getElementById("main").appendChild(containerdiv);

                    let picdiv = document.createElement("div");
                    picdiv.className = "Pic";
                    picdiv.id = "pic" + String(d);
                    document.getElementById("container" + String(d)).appendChild(picdiv);

                    let titlediv = document.createElement("div");
                    titlediv.className = "Title";
                    titlediv.id = "view" + String(d);
                    document.getElementById("container" + String(d)).appendChild(titlediv);

                    let containerbottom = document.createElement("div");
                    containerbottom.className = "containerbottom";
                    containerbottom.id = "containerbottom" + String(d);
                    document.getElementById("container" + String(d)).appendChild(containerbottom);

                    let mrtdiv = document.createElement("div");
                    mrtdiv.className = "mrtdiv";
                    mrtdiv.id = "mrtdiv" + String(d);
                    document.getElementById("containerbottom" + String(d)).appendChild(mrtdiv);

                    let catediv = document.createElement("div");
                    catediv.className = "catediv";
                    catediv.id = "catediv" + String(d);
                    document.getElementById("containerbottom" + String(d)).appendChild(catediv);
                };


                function Viewdata(view, id) {
                    this.name = result.data[i].name;
                    let x = document.createElement("p");
                    x.setAttribute("class", "Title");
                    let t = document.createTextNode(this.name);
                    x.appendChild(t);
                    document.getElementById(id).appendChild(x);
                }

                function Picdata(pic, imgid) {
                    this.pic = result.data[i].images[0];
                    let imgTag = document.createElement("img");
                    imgTag.src = this.pic;
                    imgTag.setAttribute("class", "Pic");
                    let mm = document.getElementById(imgid);
                    mm.appendChild(imgTag);

                    //將圖片加入超連結
                    dataid = result.data[i].id; //取得data 的id
                    let linkTag = document.createElement("a"); //建立HTML a 標籤
                    linkTag.href = "http://3.115.236.143:3000/attraction/" + dataid; // 建立 a href=http://3.115.236.143:3000/attraction/<id>
                    mm.appendChild(linkTag); //將id="pic " 插入a標籤
                    linkTag.appendChild(imgTag) //將 a 標籤 插入 img
                };


                function mrtdata(mrt, mrtdiv) {
                    this.mrt = result.data[i].mrt;
                    let m = document.createElement("p");
                    m.setAttribute("class", "mrtdiv");
                    let r = document.createTextNode(this.mrt);
                    m.appendChild(r);
                    document.getElementById(mrtdiv).appendChild(m);
                }


                function catedata(cate, catediv) {
                    this.catediv = result.data[i].category;
                    let c = document.createElement("p");
                    c.setAttribute("class", "catediv");
                    let a = document.createTextNode(this.catediv);
                    c.appendChild(a);
                    document.getElementById(catediv).appendChild(c);
                }

                //以上都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                for (i = 0; i < result.data.length; i++) {
                    Viewdata(i, "view" + String(i + loadnum + 1));
                    Picdata(i, "pic" + String(i + loadnum + 1));
                    mrtdata(i, "mrtdiv" + String(i + loadnum + 1));
                    catedata(i, "catediv" + String(i + loadnum + 1));
                }


                //最後一頁就關掉觀察foot
                if (result.nextPage == null) {
                    // console.log("確認進入nextPage == null 關掉foot ", observer.unobserve(foot));
                    observer.unobserve(foot)
                }
            });
    }


    // Part 2 - 4：完成關鍵字搜尋功能  : 查詢資料景點名字  id='AttrationKeyword'
    function getDataAttrationKeyword() { //載入keyword 首頁

        //重置 載入更多頁數的數字
        keywordloadcount = 0
        loadcount = 0

        //取得關鍵字 宣告全域
        AttrationKeywordElement = document.getElementById('AttrationKeyword');
        AttrationKeyword = AttrationKeywordElement.value;
        // console.log("關鍵字", AttrationKeyword)

        //只要一按搜尋就關閉foot，防止沒有跑到最後一頁關掉foot 就按搜尋
        observer.unobserve(foot);

        // 刪除main下面所有子節點 清空頁面
        let delmain = document.getElementById("main");
        while (delmain.firstChild) {
            delmain.removeChild(delmain.firstChild);
        }

        fetch("http://3.115.236.143:3000/api/attractions?keyword=" + AttrationKeyword)
            .then(function (response) {
                return response.json();
            })
            .then(function (result) {

                //如果搜尋資料長度=0代表沒有關鍵字，網頁顯示找無資料
                if (result.data.length == 0) {
                    let nodata = document.createElement("p");// 加入P 標籤
                    nodata.id = "nodata"// P 標籤的id = nodata
                    nodata.setAttribute("class", "top_right_item");// id = nodata ,給他一個class 類別那就top_right_item好了
                    let t = document.createTextNode("沒有結果");//顯示nodata的文字
                    nodata.appendChild(t);//顯示nodata的文字 插入在nodata後 將nodata 插入在id = main 的下面 就可以顯示在畫面上
                    document.getElementById("main").appendChild(nodata);
                }
                else {

                    // 刪除所有元素後 並確認有關鍵字，
                    // 載入網頁時 從無到有載入第一頁的container
                    for (d = 1; d < 13; d++) {

                        //以下都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                        let containerdiv = document.createElement("div");
                        containerdiv.id = "container" + String(d);
                        containerdiv.className = "container";
                        document.getElementById("main").appendChild(containerdiv);

                        let picdiv = document.createElement("div");
                        picdiv.className = "Pic";
                        picdiv.id = "pic" + String(d);
                        document.getElementById("container" + String(d)).appendChild(picdiv);

                        let titlediv = document.createElement("div");
                        titlediv.className = "Title";
                        titlediv.id = "view" + String(d);
                        document.getElementById("container" + String(d)).appendChild(titlediv);

                        let containerbottom = document.createElement("div");
                        containerbottom.className = "containerbottom";
                        containerbottom.id = "containerbottom" + String(d);
                        document.getElementById("container" + String(d)).appendChild(containerbottom);

                        let mrtdiv = document.createElement("div");
                        mrtdiv.className = "mrtdiv";
                        mrtdiv.id = "mrtdiv" + String(d);
                        document.getElementById("containerbottom" + String(d)).appendChild(mrtdiv);

                        let catediv = document.createElement("div");
                        catediv.className = "catediv";
                        catediv.id = "catediv" + String(d);
                        document.getElementById("containerbottom" + String(d)).appendChild(catediv);
                    }

                    // 載入網頁時 將照片和景點塞入 從第一頁的container
                    function Viewdata(view, id) {
                        this.name = result.data[i].name;
                        let x = document.createElement("p");
                        x.setAttribute("class", "Title");
                        let t = document.createTextNode(this.name);
                        x.appendChild(t);
                        document.getElementById(id).appendChild(x);
                    }

                    function Picdata(pic, imgid) {
                        this.pic = result.data[i].images[0];
                        let imgTag = document.createElement("img");
                        imgTag.src = this.pic;
                        imgTag.setAttribute("class", "Pic");
                        let mm = document.getElementById(imgid);
                        mm.appendChild(imgTag);

                        //將圖片加入超連結
                        dataid = result.data[i].id; //取得data 的id
                        let linkTag = document.createElement("a"); //建立HTML a 標籤
                        linkTag.href = "http://3.115.236.143:3000/attraction/" + dataid; // 建立 a href=http://3.115.236.143:3000/attraction/<id>
                        mm.appendChild(linkTag); //將id="pic " 插入a標籤
                        linkTag.appendChild(imgTag) //將 a 標籤 插入 img
                    }


                    function mrtdata(mrt, mrtdiv) {
                        this.mrt = result.data[i].mrt;
                        let m = document.createElement("p");
                        m.setAttribute("class", "mrtdiv");
                        let r = document.createTextNode(this.mrt);
                        m.appendChild(r);
                        document.getElementById(mrtdiv).appendChild(m);
                    }


                    function catedata(cate, catediv) {
                        this.catediv = result.data[i].category;
                        let c = document.createElement("p");
                        c.setAttribute("class", "catediv");
                        let a = document.createTextNode(this.catediv);
                        c.appendChild(a);
                        document.getElementById(catediv).appendChild(c);
                    }
                    //以上都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    for (i = 0; i < 12; i++) {
                        Viewdata(i, "view" + String(i + 1));
                        Picdata(i, "pic" + String(i + 1));
                        mrtdata(i, "mrtdiv" + String(i + 1));
                        catedata(i, "catediv" + String(i + 1));
                    }

                    // 設一段延遲等載入網頁完 將關鍵字打開
                    setTimeout(keywordobserver.observe(keywordfoot), 1500)
                    // keywordobserver.observe(keywordfoot)

                }
            });
    }


    // keyword 關鍵字搜尋載入更多功能
    let keywordloadcount = 0
    function addkeyword() { //載入keyword 下一頁
        // console.log("確認有addkeyword:", AttrationKeyword)
        //關掉foot
        observer.unobserve(foot);
        //載入正確的數字
        keywordloadcount = keywordloadcount + 1
        let keywordloadnum = keywordloadcount * 12


        fetch("http://3.115.236.143:3000/api/attractions?keyword=" + AttrationKeyword + "&page=" + String(keywordloadcount))
            .then((result) => {
                return result.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((result) => {
                //keywordloadnum + 1+result.data.length 防止多加最後一頁多的div

                for (d = keywordloadnum + 1; d < keywordloadnum + 1 + result.data.length; d++) {
                    //以下都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    let containerdiv = document.createElement("div");
                    containerdiv.id = "container" + String(d);
                    containerdiv.className = "container";
                    document.getElementById("main").appendChild(containerdiv);

                    let picdiv = document.createElement("div");
                    picdiv.className = "Pic";
                    picdiv.id = "pic" + String(d);
                    document.getElementById("container" + String(d)).appendChild(picdiv);

                    let titlediv = document.createElement("div");
                    titlediv.className = "Title";
                    titlediv.id = "view" + String(d);
                    document.getElementById("container" + String(d)).appendChild(titlediv);

                    let containerbottom = document.createElement("div");
                    containerbottom.className = "containerbottom";
                    containerbottom.id = "containerbottom" + String(d);
                    document.getElementById("container" + String(d)).appendChild(containerbottom);

                    let mrtdiv = document.createElement("div");
                    mrtdiv.className = "mrtdiv";
                    mrtdiv.id = "mrtdiv" + String(d);
                    document.getElementById("containerbottom" + String(d)).appendChild(mrtdiv);

                    let catediv = document.createElement("div");
                    catediv.className = "catediv";
                    catediv.id = "catediv" + String(d);
                    document.getElementById("containerbottom" + String(d)).appendChild(catediv);
                };


                function Viewdata(view, id) {
                    this.name = result.data[i].name;
                    let x = document.createElement("p");
                    x.setAttribute("class", "Title");
                    let t = document.createTextNode(this.name);
                    x.appendChild(t);
                    document.getElementById(id).appendChild(x);
                }

                function Picdata(pic, imgid) {
                    this.pic = result.data[i].images[0];
                    let imgTag = document.createElement("img");
                    imgTag.src = this.pic;
                    imgTag.setAttribute("class", "Pic");
                    let mm = document.getElementById(imgid);
                    mm.appendChild(imgTag);

                    //將圖片加入超連結
                    dataid = result.data[i].id; //取得data 的id
                    let linkTag = document.createElement("a"); //建立HTML a 標籤
                    linkTag.href = "http://3.115.236.143:3000/attraction/" + dataid; // 建立 a href=http://3.115.236.143:3000/attraction/<id>
                    mm.appendChild(linkTag); //將id="pic " 插入a標籤
                    linkTag.appendChild(imgTag) //將 a 標籤 插入 img
                };


                function mrtdata(mrt, mrtdiv) {
                    this.mrt = result.data[i].mrt;
                    let m = document.createElement("p");
                    m.setAttribute("class", "mrtdiv");
                    let r = document.createTextNode(this.mrt);
                    m.appendChild(r);
                    document.getElementById(mrtdiv).appendChild(m);
                }


                function catedata(cate, catediv) {
                    this.catediv = result.data[i].category;
                    let c = document.createElement("p");
                    c.setAttribute("class", "catediv");
                    let a = document.createTextNode(this.catediv);
                    c.appendChild(a);
                    document.getElementById(catediv).appendChild(c);
                }
                //以上都一樣~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                for (i = 0; i < result.data.length; i++) {
                    Viewdata(i, "view" + String(i + keywordloadnum + 1));
                    Picdata(i, "pic" + String(i + keywordloadnum + 1));
                    mrtdata(i, "mrtdiv" + String(i + keywordloadnum + 1));
                    catedata(i, "catediv" + String(i + keywordloadnum + 1));
                }

                // keyword 最後一頁關掉keywordfoot
                if (result.nextPage == null) {
                    // console.log("確認進入nextPage == null 關掉 keywordfoot ")
                    keywordobserver.unobserve(keywordfoot);
                }
            });
    }



    // ----------------------彈出登入登出視窗------------------
    function start() {
        document.getElementById('signform').style.display = ""
        document.getElementById('signformbackground').style.display = ""
    }

    // ----------------------彈出視窗------------------

    function signclose() {
        document.getElementById('signform').style.display = "none"
        document.getElementById('registerform').style.display = "none"
        document.getElementById('signformbackground').style.display = "none"
        location.reload()
    }

    function registerform() {
        document.getElementById('registerform').style.display = ""
        document.getElementById('signform').style.display = "none"
        //點選登入 註冊 回到原本的表單畫面
        document.getElementById("email").value = null
        document.getElementById("password").value = null

        document.getElementById("signinmegsus").style.display = "none"
        document.getElementById("signinmegerror").style.display = "none"
        document.getElementById("signinmeg").style.display = "none"


    }
    function signform() {
        document.getElementById('registerform').style.display = "none"
        document.getElementById('signform').style.display = ""
        //點選登入 註冊 回到原本的表單畫面
        document.getElementById("registeruser").value = null
        document.getElementById("registeremail").value = null
        document.getElementById("registerrepassword").value = null

        document.getElementById("signinmegsus").style.display = "none"
        document.getElementById("signinmegerror").style.display = "none"
        document.getElementById("signinmeg").style.display = "none"


    }



    //--------------登出畫面-------------
    function displaysignout() {
        fetch("http://3.115.236.143:3000/api/user", {
            method: 'DELETE'
            // method: 'GET'
        }) //測試
            .then((sessionresult) => {
                return sessionresult.json();//將資料用JSON 的格式用物件和陣列的組合
            })
            .then((sessionresult) => {
                if (sessionresult.ok == true) {
                    location.reload()
                    document.getElementById('displaysignout').style.display = "none"
                    document.getElementById('displaysign').style.display = ""


                }


            })


    }


    //--------------登入-------------
    function signin() {
        emailElement = document.getElementById('email')
        email = emailElement.value;
        // console.log("email??", email)

        passwordElement = document.getElementById('password')
        password = passwordElement.value;
        // console.log("password??", password)

        fd = new FormData(document.getElementById('signinform'))
        console.log("fd", fd)

        fetch("http://3.115.236.143:3000/api/user", {
            method: 'PATCH',
            body: fd
        })   //發送query string
            .then(function (response) {
                console.log(response)
                // console.log(email)
                // console.log(password)
                // return response.text();
                return response.json();
            })
            .then(function (result) {
                // document.getElementById("username").innerHTML = result

                // finall.innerHTML="";
                // let username;
                // username=result[0]
                // finall.innerHTML = result.name + " (" + result.username + ")"
                console.log("登入資訊:", result);
                // console.log("登入資訊:", result.ok);


                if (result.ok == true) {
                    //右上角 改變成登出
                    document.getElementById('displaysign').style.display = "none"
                    document.getElementById('displaysignout').style.display = "block"
                    //重新整理關閉表單
                    location.reload()
                    signclose()


                } else {
                    let signinmeg_error = result.message
                    document.getElementById('displaysign').style.display = "block"
                    document.getElementById('displaysignout').style.display = "none"
                    //失敗出現錯誤
                    document.getElementById('signinmeg').style.display = "block"
                    document.getElementById('signinmeg').innerText = signinmeg_error
                    //重新輸入信箱 密碼
                    document.getElementById("email").value = null
                    document.getElementById("password").value = null

                }

            });
    };



    //------------- 註冊 -------------
    signup = function () {

        registeruserElement = document.getElementById('registeruser')
        registeruser = registeruserElement.value;
        // console.log("registeruser", registeruser)

        registeremailElement = document.getElementById('registeremail')
        registeremail = registeremailElement.value;
        // console.log("registeremail", registeremail)
        // console.log("email??", email)

        registerrepasswordElement = document.getElementById('registerrepassword')
        registerrepassword = registerrepasswordElement.value;
        // console.log("registerrepassword", registerrepassword)
        // console.log("password??", password)

        upfd = new FormData(document.getElementById('signupform'))
        // console.log("fd", upfd)

        fetch("http://3.115.236.143:3000/api/user", {
            method: 'POST',
            body: upfd

        })   //發送query string
            .then(function (response) {
                console.log(response)
                return response.json();
            })
            .then(function (result) {
                console.log("登入資訊:", result);
                // console.log("登入資訊:", result.ok);

                if (result.ok == true) {  //註冊成功 顯示
                    document.getElementById('signinmegerror').style.display = "none"
                    document.getElementById('signinmegsus').style.display = "block"
                    // document.getElementById("registeruser").value = null
                    document.getElementById("registeremail").value = null
                    document.getElementById("registerrepassword").value = null

                } else {//註冊失敗 顯示
                    console.log(result.message)
                    let message = result.message
                    document.getElementById("registeremail").value = null
                    document.getElementById("registerrepassword").value = ""
                    document.getElementById('signinmegerror').style.display = "block"
                    document.getElementById('signinmegerror').innerText = message
                    document.getElementById('signinmegsus').style.display = "none"
                    // document.getElementById("registerform").reset();

                }

            }).catch((err) => {
                console.log('錯誤:', err);
            });
    }

    //  表單不跳
    function func() {
        return false;
    }

</script>



</html>